<div class="card shadow-sm p-3 rounded" style="width: 18rem; height: 35rem;">
    <img src="{{ cooling.img }}" class="card-img-top" alt="{{ cooling.name }}">
    <div class="card-body">
        <h5 class="card-title">{{ cooling.name }}</h5>
        <p class="card-text">{{ cooling.type }}</p>
        <p class="card-text">{{ cooling.compatibility }}</p>
    </div>
    <div class="p-3">
        <p><span class="badge bg-dark fs-5">{{ cooling.price }} $</span></p>
        <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
</div>