<div class="card shadow-sm p-3 rounded" style="width: 18rem; height: 42rem;">
    <img src="{{ keyboard.img }}" class="card-img-top" alt="{{ keyboard.name }}">
    <div class="card-body">
        <h5 class="card-title">{{ keyboard.name }}</h5>
        <p class="card-text">{{ keyboard.type }}</p>
        <p class="card-text">{{ keyboard.switch_type }}</p>
        <p class="card-text">{{ keyboard.backlighting }}</p>
        <p class="card-text">{{ keyboard.weight }}</p>
    </div>
    <div class="p-3">
        <p><span class="badge bg-dark fs-5">{{ keyboard.price }} $</span></p>
        <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
</div>