<div id="product" class="card shadow-sm p-3 rounded" style="width: 18rem; height: 35rem;">
    <img src="{{ mousepad.img }}" class="card-img-top" alt="{{ mousepad.name }}">
    <div class="card-body">
        <h5 class="card-title">{{ mousepad.name }}</h5>
        <p class="card-text">{{ mousepad.width }}</p>
        <p class="card-text">{{ mousepad.length }}</p>
        <p class="card-text">{{ mousepad.material }}</p>
    </div>
    <div class="p-3">
        <p><span class="badge bg-dark fs-5">{{ mousepad.price }} $</span></p>
        <a href="#" id="add-to-cart" class="btn btn-primary" data-product_id="{{ processor.product_id }}">Add to cart</a>
    </div>
</div>