<<div class="card" style="width: 18rem;">
    <img src="https://images.unsplash.com/photo-1519681393784-d120267933ba?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8MTkyMHgxMDgwfGVufDB8fDB8fHww" class="card-img-top" alt="{{ processor.name }}">
    <div class="card-body">
        <h5 class="card-title">{{ processor.name }}</h5>
        <p class="card-text">{{ processor.cores }}</p>
        <p class="card-text">{{ processor.threads }}</p>
        <p class="card-text">{{ processor.clock_speed}}</p>
        <p><span class="badge bg-secondary fs-5">{{ processor.price }} $</span></p>
        <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
</div>