<div class="card shadow-sm p-3 rounded" style="width: 18rem; height: 35rem;">
    <img src="{{ processor.img }}" class="card-img-top" alt="{{ processor.name }}">
    <div class="card-body">
        <h5 class="card-title">{{ processor.name }}</h5>
        <p class="card-text">{{ processor.cores }}</p>
        <p class="card-text">{{ processor.threads }}</p>
        <p class="card-text">{{ processor.clock_speed}}</p>
    </div>
    <div class="p-3">
        <p><span class="badge bg-dark fs-5">{{ processor.price }} $</span></p>
        <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
</div>