
{% if url_for(request.endpoint) == "/order_cart" %}
    <div class="row">
        <div class="col-9">
            <a href="#" id="increase-product-amount" class="btn btn-primary" data-product_id="{{ product.product_id }}"><span class="bi bi-plus-circle-fill"></span></a>
            <a href="#" id="decrease-product-amount" class="btn btn-warning" data-product_id="{{ product.product_id }}"><span class="bi bi-dash-circle-fill"></span></a>
        </div>
        <div class="col-3">
            <a href="#" id="remove-product" class="btn btn-danger" data-product_id="{{ product.product_id }}"><span class="bi bi-trash-fill"></span></a>
        </div>
    </div>
    <div class="pt-2">
        <p>
            <span class="badge bg-secondary fs-5">{{ product.price }} $</span>
            <span class="fs-5">x {{ product.amount }} = </span>
            <span class="badge bg-dark fs-5">{{ product.price * product.amount }} $</span>
        </p>
    </div>
{% else %}
    <p><span class="badge bg-dark fs-5">{{ product.price }} $</span></p>
    <a href="#" id="add-to-cart" class="btn btn-primary" data-product_id="{{ product.product_id }}">
        <span class="bi bi-bag-plus-fill"></span>&nbsp;<span id="add-to-cart-text">Add to cart</span>
    </a>
{% endif %}
