<div class="dropdown d-flex align-items-center">
    <span class="nav-link px-2 text-white" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
      Products 
    </span>
    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
        <li><a class="dropdown-item" href="/cases">Cases</a></li>
        <li><a class="dropdown-item" href="/motherboards">Motherboards</a></li>
        <li><a class="dropdown-item" href="/power_units">Power supplies</a></li>
        <li><a class="dropdown-item" href="/processors">CPUs</a></li>
        <li><a class="dropdown-item" href="/video_cards">GPUs</a></li>
        <li><a class="dropdown-item" href="/ram">RAM</a></li>
        <li><a class="dropdown-item" href="/disks">Disks</a></li>
        <li><a class="dropdown-item" href="/cooling">Cooling</a></li>
        
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/accessories">Accessories</a></li>
        <li><a class="dropdown-item" href="/headphones">Headphones</a></li>
        <li><a class="dropdown-item" href="/keyboards">Keyboards</a></li>
        <li><a class="dropdown-item" href="/monitors">Monitors</a></li>
        <li><a class="dropdown-item" href="/mousepads">Mousepads</a></li>
        <li><a class="dropdown-item" href="/mouses">Mouses</a></li>
    </ul>
</div>